body{
    background-color: lightgray;
    width: 600px;
    /*margin-left: 100px;*/
    margin:auto;
}

h1{
    color:red;
    font-size: 50px;
    text-align: center;
}

li{
    color: firebrick;
}

img{
    width: 300px;
    high: 300 px;
    border-radius: 100px;
}

p{
    font-size: 18px;
  }
 